body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
/* HEADER BLOCK */
.header_block {
    height: 140px;
    padding-top: 5px;
    background-color: rgb(6, 68, 32);
    font-size: 33px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.pat5 {
    background-image: linear-gradient(
            45deg,
            rgb(6, 68, 32) 23%,
            transparent 65.1%
        ),
        linear-gradient(
            rgb(15, 85, 44),
            rgb(43, 102, 68),
            rgb(6, 68, 32) 6px,
            rgb(6, 68, 32)
        );
    background-size: 100%, 100% 12px;
}
/* NAVIGATION BLOCK */
.navbar {
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(6, 68, 32);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.float_right {
    float: right;
    margin-right: 50px;
}
/* CONTENT BLOCK */
.content_block {
    height: 75vh;
    background-color: rgb(44, 44, 44);
    overflow-y: scroll;
    scrollbar-width: thin;
}

/* POST BLOCK */
.post-container {
    display: grid;
    width: 55%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
  }
  
  .post-block {
    background-color: rgb(180, 180, 180);
    font-size: 16px;
    padding: 10px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;  
    font-size: 25px; 
    border-top-left-radius: 10px;
  }
  .item2 {
    grid-column: 3 / span 3;
    grid-row: 1;
    padding-top: 20px;
    padding-right: 14%;
    text-align: right;
    border-top-right-radius: 10px;
  }
  .item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    border-bottom-left-radius: 10px;
  }
  .item4 {
    grid-column: 3 / span 3;
    grid-row: 2;
    text-align: right;
    border-bottom-right-radius: 10px;
  }
  .btn-set {
   margin-left: 27%;
  }
  .add-at {
    text-align: right;
    margin-right: 17%;
    font-size: 13px;

  }

.pic-temp {
    height: 180px;
    width: 370px;
    background-color: rgb(112, 112, 112);
    margin-bottom: 5px;
    margin: auto;
}


/* COMMENT BLOCK */
.commentBlock {
    height: 140px;
    width: 40%;
    background-color: rgb(146, 146, 146);
    font-size: 14px;
    padding: 4px 16px;
    margin: 20px auto;
}
.createCommentBlock {
    height: 290px;
    width: 40%;
    background-color: rgb(146, 146, 146);
    font-size: 14px;
    padding: 4px 16px;
    margin: 6% auto;
}
.float-right {
    float: right;
    margin-right: 20px;
    font-size: 13px;
  }


/* FORM BLOCK */
.formBlock {
    height: 350px;
    background-color: rgb(180, 180, 180);
    font-size: 14px;
    padding: 4px 16px;
    margin: 20px 25%;
}


/* FOOTER BLOCK */
.footer_block {
    height: 50px;
    padding: 5px;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    text-align: center;
}


/* LOGIN BLOCK */
.loginBlock {
    height: 250px;
    width: 50%;
    background-color: rgb(180, 180, 180);
    padding: 4px 16px;
    margin: 7% auto;
    font-size: 14px;
    text-align: center;
}

/* REGISTRATION BLOCK */
.registrationBlock {
    height: 330px;
    width: 40%;
    background-color: rgb(180, 180, 180);
    padding: 4px 16px;
    margin: 3% auto;
    font-size: 14px;
    text-align: center;
}
/* ABOUT  BLOCK */
.aboutBlock {
    height: 320px;
    background-color: rgb(180, 180, 180);
    font-size: 14px;
    padding: 4px 16px;
    margin: 5% 25%;
}

/* BUTTONS */
.button {
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
    padding: 2px 6px 2px 6px;
    border: 1px solid #333333;
  }

.category-btn{
    font-size: 13px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 97, 46);
    padding: 3px 8px ;
    border-radius: 10px;
  }